[package]
name = "poll-engine"
version = "1.0.0"
authors = ["Terra Money <core@terra.money>"]
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
common = { path = "../common" }
cosmwasm-std = "1"
cosmwasm-schema = "1.1"
cw-storage-plus = "1.0.1"
itertools = "0.10"
thiserror = "1"
poll-engine-api = { path = "../poll-engine-api" }
