[package]
name = "nft-staking-api"
version = "1.2.0"
authors = ["Terra Money <core@terra.money>"]
edition = "2021"

[lib]
path = "src/lib.rs"

[features]
interface = ["dep:cw-orch"]

[dependencies]
common = { path = "../common" }
membership-common-api = { path = "../membership-common-api" }
cosmwasm-std = "1"
cosmwasm-schema = "1.1"
cw-utils = "1.0.1"
thiserror = "1"
cw-orch = { version = "0.18.1", optional = true }
